* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: lower-roman;
    font-family: 'Times New Roman', Times, serif;
}

.mainconteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: grey;
}

#contactForm {
    box-shadow: 0 0 5px 0 black;
    background-color: rgb(57, 57, 57);
}

.formTitle {
    padding-top: 5px;
}

form {
    width: 30%;
}

form h3 {
    text-align: center;
    margin-top: 5px;
}

.formRow {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;

}

.formRow input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    border: none;

}

.formRow textarea {
    width: 100%;
    border-radius: 3px;
    background-color: white;
    border: none;
    resize: none;
}

.formRow label {
    color: black;
}

.formRow input:focus,
.formRow textarea:focus {
    outline: none;
    border: 2px solid rgb(92, 95, 93);
}

.formBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.formBtn button {
    color: black;
    background-color: rgb(89, 210, 210);
    transition: 0.3s ease-in-out;

}

 .formBtn button:hover {
    transform: scale(1.1);

}


.submitBtnActive {
    padding: 8px 25px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(209, 199, 199);
    border-radius: 5px;
    color: gray;
}

.submitBtnActive:hover {
    background-color: grey;
    color: black;
}

.submitBtnDisabled {
    padding: 8px 25px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: not-allowed;
    border: none;
    background-color: rgb(209, 199, 199);
    border-radius: 5px;
    color: gray;

}

.inputEror {
    font-size: 12px;
    color: red;
}

#responseConteiner {
    display: none;
}

.responseSuccess {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 30px 50px;
    background-color: grey;
    border-radius: 5px;
    color: white;
}

.responseFail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 30px 50px;
    background-color: red;
    border-radius: 5px;
    color: white;

}

#responseText {
    text-align: center;
    line-height: 25px;
}